block vars
  -
    var meta = {
      title: "タイトル",
      description: "ディスクリプション",
      url: "https://example.com",
      ogImage: "https://example.com/ogp.png",
      ogType: "website",
      ogSiteName: "サイト名",
      ogTwitterCard: "summary_large_image",
      ogTwitterSite: "@twitter_account"
    }
    var slug = "index"

doctype html
html(lang="ja")
  block head
  body
   block header
   block content
   block footer