extends ./layout/website/_layout.pug

block head
  include ./layout/website/_head.pug
  
block header 
  include ./layout/website/_header.pug

block footer 
  include ./layout/website/_footer.pug

block content

  p developにあげてみる